.icon ul {
    margin: 0;
    padding: 0;
}
.icon ul li {
    list-style-type: none;
    float: left;
    margin-right: 10px;
  
}
.icon ul li a {
    background-image: url('image.png');
    text-decoration: none;
    height: 100px;
    width: 100px;
    display: inline-block;
    border:  2px solid gray;
    border-radius: 50%;
    background-position: 0px 0px;
    transition: 1s;
    
}

.icon ul li:last-child {
    margin-right: 0;
}

.icon ul li:hover:nth-child(1) a{
    background-position: 0px -110px;
}

.icon ul li:nth-child(2) a{
    background-position: 320px 0px;
}
.icon ul li:hover:nth-child(2) a{
    background-position: 320px -110px;
}
.icon ul li:nth-child(3) a{
    background-position: 535px 0px;
}
.icon ul li:hover:nth-child(3) a{
    background-position: 535px -110px;
}

